@import 'src/styles/vars';

.cdtl_presentation_header{
    display: flex;
    flex-direction: column;
}

.cdtl_presentation_image{
max-width: fit-content;
}

@include phone {

    .cdtl_presentation_Maintitle{
        text-align: center;
        font-family: niconne, cursive;
        font-size: 3em;
        font-weight: 700;
        color: #f5f5f5;
         text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #f1ebeb,
        1px 10px 1px #919191,
    1px 18px 6px rgba(130, 211, 24, 0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    padding: 0.8em 0;
    }

    .cdtl_presentation{
        border: black solid 2px;
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        background-color: #fff2f2;
    }
    
    .cdtl_presentation_title{
        font-size: 2em;
        font-family: 'Lobster Two', cursive;
        width: 100%;
        text-align:center;
    }

    .cdtl_presentation_image{
        width: 40%;
        float: left;
        margin: 0.6em;
        display: flex;
        align-self: center;
    }
    
    
    .cdtl_presentation_description{
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        font-size: 0.7em;
    }
}

@include md{

    .cdtl_presentation_Maintitle{
        text-align: center;
        font-family: niconne, cursive;
        font-size: 7em;
        font-weight: 700;
        color: #f5f5f5;
         text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #f1ebeb,
        1px 10px 1px #919191,
    1px 18px 6px rgba(130, 211, 24, 0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    padding: 0 0 0.8em 0;
    }

    .cdtl_presentation{
        border: black solid 2px;
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        background-color: #fff2f2;
    }
    
    .cdtl_presentation_title{
        font-size: 2em;
        font-family: 'Lobster Two', cursive;
        width: 100%;
        text-align: center;
    }

    .cdtl_presentation_image{
        width: 40%;
        float: left;
        margin: 0.6em;
        display: flex;
        align-self: center;
    }
    
    
    .cdtl_presentation_description{
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        font-size: 0.7em;
    }
}

@include xl{

    .cdtl_presentation_Maintitle{
        text-align: center;
        font-family: niconne, cursive;
        font-size: 7em;
        font-weight: 700;
         text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #f1ebeb,
        1px 10px 1px #919191,
    1px 18px 6px rgba(130, 211, 24, 0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    padding: 0.3em 0 0.8em 0;
    }

    .cdtl_presentation{
        border: black solid 2px;
        width: 90%;
        margin: 1em auto;
        padding: 2em;
        background-color: #fff2f2;
        border-radius: 1em;
        
    }
    
    .cdtl_presentation_title{
        font-size: 4em;
        padding-bottom: 1em;
        font-family: Lobster Two,cursive;
        width: 100%;
        text-align: left;
        color: ghostwhite;
        text-shadow: 4px 1px 9px black;
        
    }

    .cdtl_presentation_image{
        width: 20%;
        float: right;
        margin-left: 1em;
        display: flex;
        align-self: center;
    }
    
    
    .cdtl_presentation_description{
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        font-size: 1.5em;
        font-family: 'Cormorant', serif;
    }
}