@import 'src/styles/vars';

.cart {
  font-family: $fontFamilyText;
  font-size: $fontSizeTextPhone;
  font-weight: 500;

  .cart_content_cart,
  .cart_content_cart_list {
    font-family: $fontFamilyText;
    color: rgb(241, 240, 240);
    text-shadow: 4px 4px 6px black;
  }

  .cart_content_cart_list_item{
    margin-bottom: 0.2em;
    font-family: $fontFamilyText;
    color: rgba(252, 238, 36, 0.932);
    text-shadow: 3px 3px 5px black;
  }

  .cart_button_delete{
    background-color: transparent;
    border: none;
  }

  @include phone {
    margin: 1em auto;
    width: 90%;
    .cart_content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .cart_price {
      margin-top: 2em;
      text-align: center;
      font-family: $fontFamilyText;
      color: rgb(241, 240, 240);
      text-shadow: 3px 3px 6px black;
    }
    
    .cart_price span{
      margin-top: 2em;
      text-align: center;
      font-family: $fontFamilyText;
      color: rgba(252, 238, 36, 0.932);
      text-shadow: 2px 2px 5px black;
    }
 }

  @include sm {
  }

  @include md {
  }

  @include xl {
    margin: 2em auto;
    width: 100%;
    .cart_content {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  }

}
