@import 'src/styles/vars';

.cart {
  font-family: Lobster Two,cursive;

  @include phone {
    margin: 1em auto;
    width: 94%;
    .cart_content {
      display: flex;
      justify-content: space-around;
    }
    .cart_price {
      margin-top: 1rem;
      text-align: center;
    }
 }
 @include sm {
   
  }
  @include md {

}
@include xl {



}

}
