@import 'src/styles/vars';

.cart {
  font-family: $fontFamilyText;
  font-size: $fontSizeTextXl;
  font-weight: 500;

  .cart_content_cart_list_item{
    margin-bottom: 0.2em;
    color: #655fa9bd;
  }

  @include phone {
    margin: 1em auto;
    width: 90%;
    .cart_content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .cart_price {
      margin-top: 2em;
      text-align: center;
    }
    .cart_price span{
      margin-top: 2em;
      text-align: center;
      color: #655fa9bd ;
    }

 }
 @include sm {
   
  }
  @include md {

}
@include xl {
  margin: 2em auto;
  width: 90%;
  .cart_content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }


}

}
