@import 'src/styles/vars';

.cdtl_menu_cartIcon{
transform: scale(1.7);
}

.cdtl_menu_button{
    border: none;
    background-color: rgb(252, 240, 240);
}

.cdtl_menu_title{
  text-align: center;
  font-family: $fontFamilyMainTitle;
  font-size: $fontSizeTitleXl;
  font-weight: $fontWeightTitle;
  color: $colorMainTitle;
  text-shadow: $textShadowTitle;
  padding: $spaceAroundTitle ;
}

.cdtl_menu_card{
    font-family: Lobster Two,cursive;
    border: #787878 solid 2px;
    background-color: rgb(252, 240, 240);
    width: 20%;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cdtl_menu_title_type{
    font-family: Cormorant,serif;
    border-bottom: #717171(0, 0, 0) solid 3px;
    width: 90%;
    margin: 0 auto;
    color: #646363fa;
    padding: 1em 0;
    font-size: 2.3em;
    font-weight: 700;
    text-align: left;
}

.cdtl_menu_type_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    // justify-content: center;
    margin: 0 10%;
}

.cdtl_menu_card_title{
    text-align: center;
}

.cdtl_menu_card_ingredients{
    font-style: italic;
    color: rgba(44, 43, 43, 0.815);
}

.cdtl_menu_card_price{
    text-align: center;
}

.cdtl_menu_cardLeft{
    width: 100%;
}

.cdtl_menu_img_type{
    width: 4%;
    margin-left: 1.5em;
}

@include phone {
    .cdtl_menu_img_type{
        display: none;
    }

    .cdtl_menu_title{
      text-align: center;
      font-family: $fontFamilyMainTitle;
      font-size: $fontSizeTitlePhone;
      font-weight: $fontWeightTitle;
      color: $colorMainTitle;
      text-shadow: $textShadowTitle;
      padding: $spaceAroundTitle ;
    }

    .cdtl_menu_type_container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .cdtl_menu_card{
        font-family: Lobster Two,cursive;
        border: #787878 solid 2px;
        background-color: rgb(252, 240, 240);
        width: 95%;
        margin: 0.4em;
        padding: 0.3em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@include md{

    .cdtl_menu_img_type{
        display: inline-block;
        width: 6%;
    }

    .cdtl_menu_title{
        text-align: center;
        font-family: $fontFamilyMainTitle;
        font-size: $fontSizeTitleXl;
        font-weight: $fontWeightTitle;
        color: $colorMainTitle;
        text-shadow: $textShadowTitle;
        padding: $spaceAroundTitle ;
      }

    .cdtl_menu_type_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        // justify-content: center;
        margin: 0 10%;
    }

    .cdtl_menu_card{
        font-family: Lobster Two,cursive;
        border: #787878 solid 2px;
        background-color: rgb(252, 240, 240);
        width: 40%;
        margin: 1em;
        padding: 0.3em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@include xl{

  .cdtl_menu_img_type{
        display: inline-block;
        width: 5%;
    }

    .cdtl_menu_title{
      text-align: center;
      font-family: $fontFamilyMainTitle;
      font-size: $fontSizeTitleXl;
      font-weight: $fontWeightTitle;
      color: $colorMainTitle;
      text-shadow: $textShadowTitle;
      padding: $spaceAroundTitle ;
    }
    .cdtl_menu_type_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        // justify-content: center;
        margin: 0 10%;
    }

    .cdtl_menu_card{
        font-family: Lobster Two,cursive;
        border: #787878 solid 2px;
        background-color: rgb(252, 240, 240);
        width: 30%;
        margin: 1em;
        padding: 0.3em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
}