.main-card {
    text-align: center;
}

.title-header {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 2px #141414,
    1px 1px 3px #141414,
    1px 1px 5px #141414,
    1px 1px 7px #141414,
    1px 1px 10px #141414,
    1px 1px 12px #141414,
    1px 1px 18px #141414;color:#fff;
}

.title-page {
    margin-top: 2rem;
    font-size: 2rem;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 2px #141414,
    1px 1px 3px #141414,
    1px 1px 5px #141414,
    1px 1px 7px #141414,
    1px 1px 10px #141414,
    1px 1px 12px #141414,
    1px 1px 18px #141414;color:#fff;
}

.body-card {
    position: relative;
    top: 5rem;
}

.formAdd {
    margin-top: -3rem;
}

.alert-danger {
    margin-bottom: -6rem;
    margin-top: 2rem;
    padding-bottom: 0rem;
}

.alert-danger > ul {
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
}

.form-group {
    margin-top: 2rem;
}

#email, #password, #password-confirm, .input-add {
    width: 22rem;
    height: 2.5rem;
    font-size: 1.1rem;
}

.label-login {
    font-size: 1.7rem;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    1px 1px 10px #141414;
    color:#333;
}

.btn-login, .btn-reset-password {
    display: block;
    margin: auto;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #005f8094;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.btn-login:hover, .btn-reset-password:hover {
    transition: 1s;
    transform: scale(1.15);
}

.btn-success {
    margin-top: 1rem;
}

.form-check-label {
    position: relative;
    margin-left: 1rem;
    bottom: 0.2rem;
    font-size: 1.3rem;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    1px 1px 10px #141414;
    color:#333;
}

#remember {
    width: 20px;
    height: 20px;
}

.btn-link {
    font-size: 1.3rem;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    1px 1px 10px #141414;
    color:#2b1a1a;
}

.invalid-feedback {
    display: flex!important;
    justify-content: center;
    color: red;
}