body {
    font-family: 'Oxygen', sans-serif;
    /* background-color: #1777d68c; */
    background-image: url('/images/reunion.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.alert-success {
    text-align: center;
}

.reset-password {
    display: inline;
    font-weight: bold;
}