body {
    font-family: 'Oxygen', sans-serif;
    /* background-color: #1777d68c; */
    background-image: url('/images/reunion.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.success-auth {
    text-align: center;
    width: 40%;
    display: block;
    margin: auto;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.alert-success {
    text-align: center;
}