body {
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: seagreen;
}

.nav-item {
    display: flex;
    font-size: 2rem;
}

.nav-link, .dropdown-item {
    padding-right: 2rem;
    text-decoration: none;
    color: red;
}

.navbar-collapse {
    margin-bottom: -2rem;
}

.navbar-brand {
    font-size: 2rem;
    padding: 1rem 0 0 2rem;
    text-decoration: none;
    color: red;
}