@import 'src/styles/vars';


.cdtl_footer{
    background-color: #b6b3b352;
}

.cdtl_footer_title{
    text-align: center;
    font-family: $fontFamilyMainTitle;
    font-size: $fontSizeTitleXl;
    font-weight: $fontWeightTitle;
    color: $colorMainTitle;
    text-shadow: $textShadowTitle;
    padding: $spaceAroundTitle ;
}

.cdtl_footer_social{

    position: relative;
    bottom: 55px;
    display: flex;
    justify-content: center;
}


.MuiSvgIcon-root{
color: rgb(192, 191, 191);
transform: scale(1.5);
border: rgb(255, 255, 255) solid 1.5px;
border-radius: 50%;
margin: 0.2em 0.4em;
padding: 0.1em;
}

.MuiSvgIcon-root:hover{
    transform: scale(1.4);
    border: rgb(255, 255, 255) solid 2px;
}

.cdtl_footer_diver_info span{
    color: black;
}

.cdtl_footer_contact_info span{
    color: black;
}

.cdtl_footer_copyright{
    text-align: center;
}

.cdtl_footer_contact{
    font-family: $fontFamilyText;
    font-size: $fontSizeTextPhone;
    color: $colorText;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

@include phone {
    .cdtl_footer_title{
        text-align: center;
        font-family: $fontFamilyMainTitle;
        font-size: $fontSizeTitlePhone;
        font-weight: $fontWeightTitle;
        color: $colorMainTitle;
        text-shadow: $textShadowTitle;
        padding: $spaceAroundTitle ;
    }

    .cdtl_footer_contact{
        padding: 0.4em;
        margin-bottom: 1.4em;
    }
}

@include md{
    .cdtl_footer_title{
        text-align: center;
        font-family: $fontFamilyMainTitle;
        font-size: $fontSizeTitleXl;
        font-weight: $fontWeightTitle;
        color: $colorMainTitle;
        text-shadow: $textShadowTitle;
        padding: $spaceAroundTitle ;
    }
}

@include xl{

    .cdtl_footer_title{
        text-align: center;
        font-family: $fontFamilyMainTitle;
        font-size: $fontSizeTitleXl;
        font-weight: $fontWeightTitle;
        color: $colorMainTitle;
        text-shadow: $textShadowTitle;
        padding: $spaceAroundTitle ;
    }
    
    .cdtl_footer_contact{
        font-family: $fontFamilyText;
        font-size: $fontSizeTextXl;
        color: $colorText;
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-around;
        padding-bottom: 5em;
    }
}