@import 'src/styles/vars';


.cdtl_footer{
    background-color: #757575;
}

.cdtl_footer_title{
    font-family: Lobster Two,cursive;
    color: ghostwhite;
    text-shadow: 4px 1px 9px black; 
    text-align: center;
    margin-top: 1.5em;
    padding: 0.5em 0.5em 1em 0.5em;
}

.cdtl_footer_social{

    position: relative;
    bottom: 55px;
    display: flex;
    justify-content: center;
}


.MuiSvgIcon-root{
color: rgb(192, 191, 191);
transform: scale(1.2);
border: rgb(255, 255, 255) solid 1.5px;
border-radius: 50%;
margin: 0 0.8em;
padding: 0.1em;
}

.MuiSvgIcon-root:hover{
    transform: scale(1.4);
    border: rgb(255, 255, 255) solid 2px;
}


.cdtl_footer_copyright{
    text-align: center;
}

.cdtl_footer_contact{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

.cdtl_footer_map{
    background-color: white;
    height: 150px;
    width: 350px;
    margin-right: 3em;
}
@include phone {

}

@include md{

}

@include xl{
    .cdtl_footer_contact{
        color: white;
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-around;
        padding-bottom: 5em;
    }
}