@import 'src/styles/vars';
@import "~bootstrap/scss/bootstrap";


.cdtl_navLink:hover{
    color: rgb(243, 240, 240)!important;
    transform: scale(1.1);
}

@include phone {

    .navbar{
        background-image: url(../../../assets/image/third.jpg);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        margin-bottom: 3em;
        box-shadow: 0 0 15px 1px;
    }

    .brand_navbar{
        width: 80%;
        font-family: niconne, cursive;
        font-size: 2em;
        font-weight: 500;
        color: #ff0b0b;
        text-shadow: 1px 1px 1px #000000,
         1px 2px 1px #000000,
         1px 3px 1px #000000,
         1px 4px 1px #000000,
         1px 5px 1px #000000,
         1px 6px 1px #000000,
         1px 7px 1px #000000,
         1px 8px 1px #484848,
         1px 18px 6px rgb(16 16 16),
         1px 22px 10px rgba(16,16,16,.69), 1px 25px 35px rgba(16,16,16,.66), 1px 30px 60px rgba(16,16,16,.23);
    }

    .navbar-nav{
        text-align: center;
        width: 100%;
    }
    .navbar-toggler{
        border: 0.1em solid white!important;
        background-color: lightcyan;
    }
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: rgb(220, 221, 220)!important;
        text-shadow: 5px 9px 6px #000, 4px 1px 9px #826363;
        font-size: 1.6em;
        width: 80%;
        margin: 0 auto;
    }
}

@include sm{

    .navbar{
        background-image: url(../../../assets/image/third.jpg);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        margin-bottom: 3em;
        box-shadow: 0 0 15px 1px;
    }

    .brand_navbar{
        width: 80%;
        font-family: niconne, cursive;
        font-size: 2em;
        font-weight: 500;
        color: #ff0b0b;
        text-shadow: 1px 1px 1px #000000,
         1px 2px 1px #000000,
         1px 3px 1px #000000,
         1px 4px 1px #000000,
         1px 5px 1px #000000,
         1px 6px 1px #000000,
         1px 7px 1px #000000,
         1px 8px 1px #484848,
         1px 18px 6px rgb(16 16 16),
         1px 22px 10px rgba(16,16,16,.69), 1px 25px 35px rgba(16,16,16,.66), 1px 30px 60px rgba(16,16,16,.23);
    }

    .navbar-nav{
        text-align: center;
        width: 100%;
    }
    .navbar-toggler{
        border: 0.1em solid white!important;
        background-color: lightcyan;
    }
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: rgb(220, 221, 220)!important;
        text-shadow: 5px 9px 6px #000, 4px 1px 9px #826363;
        font-size: 1.6em;
        width: 80%;
        margin: 0 auto;
    }
}

@include md{
    .navbar{
        background: none;
        box-shadow: none;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 1em;
    }


    .brand_navbar{
        display: none;
    }
  
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 5px 9px 6px #000, 4px 1px 9px #826363; 
        font-size: 1.5em;
        width: 100%;
        margin: 1em 0 0 1em;
    }
}

@include lg{
    .navbar{
        background: none;
        box-shadow: none;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 1em;
    }


    .brand_navbar{
        display: none;
    }
  
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 5px 9px 6px #000, 4px 1px 9px #826363; 
        font-size: 1.9em;
        width: 100%;
        margin: 1em 0 0 2em;
    }
}

@include xl{

    .navbar{
        width: 90%;
    }

    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 5px 9px 6px #000, 4px 1px 9px #826363; 
        font-size: 2.2em;
        width: 100%;
        margin: 1em 0 0 2em;
    }
}

