@import 'src/styles/vars';
@import "~bootstrap/scss/bootstrap";


.navbar{
    background-color: #858585!important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navbar-nav{
    text-align: center;
    width: 100%;
}
.navbar-toggler{
    border: 0.1em solid white!important;
    background-color: lightcyan;
}
.cdtl_navLink{
    color: white!important;
    font-family: 'Lobster Two', cursive; 
    font-size: 1.6em;
    border-bottom: 0.15em solid rgba(255, 255, 255, 0.726);
    width: 80%;
    margin: 0 auto;
}

.cdtl_navLink:hover{
    background-color:  #999999e5;
    border-radius: 2em;
    border: white solid 1px;
}

@include phone {
    .navbar{
        background-color: #858585!important;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .navbar-nav{
        text-align: center;
        width: 100%;
    }
    .navbar-toggler{
        border: 0.1em solid white!important;
        background-color: lightcyan;
    }
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 4px 1px 9px black;   
        font-size: 1.6em;
        border-bottom: 0.15em solid rgba(255, 255, 255, 0.726);
        width: 80%;
        margin: 0 auto;
    }
}

@include md{
    .navbar{
        background-color: #858585!important;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .navbar-nav{
        text-align: center;
        width: 100%;
    }
    .navbar-toggler{
        border: 0.1em solid white!important;
        background-color: lightcyan;
    }
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 4px 1px 9px black;   
        font-size: 1.6em;
        border-bottom: none;
        width: 80%;
        margin: 0 auto;
    }
}


@include xl{
    .navbar{
        background-color: #858585!important;
        position: fixed;
        top: 0;
        width: 100%;
    }
  
    .cdtl_navLink{
        font-family: Lobster Two,cursive;
        color: ghostwhite;
        text-shadow: 4px 1px 9px black;   
        font-size: 1.6em;
        border-bottom: none;
        width: 100%;
        margin: 0 0 0 2em;
    }
}

